Config { font = "xft:Source Code Pro:pixelsize=13:antialias=true:hinting=true"
       , additionalFonts = []
       , borderColor = "#2a2f33"
       , border = TopB
       , bgColor = "#2a2f33"
       , fgColor = "gray"
       , alpha = 255
       , position = TopW L 97
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = False
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Weather "EGPF" ["-t","<station>: <tempC>C",
                                          "-L","18","-H","25",
                                          "--normal","green",
                                          "--high","red",
                                          "--low","lightblue"] 36000
                    , Run Network "eth0" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 100
                    , Run Network "wlp3s0" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 100
                    , Run Cpu ["-L","3","-H","50",
                               "--normal","green","--high","red"] 20
                    , Run Memory ["-t","Mem: <usedratio>%"] 20
                    , Run Swap [] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 20
                    , Run Battery        [ "--template" , "Batt: <acstatus>"
                                         , "--Low"      , "10"        -- units: %
                                         , "--High"     , "80"        -- units: %
                                         , "--low"      , "darkred"
                                         , "--normal"   , "darkorange"
                                         , "--high"     , "darkgreen"

                                         , "--" -- battery specific options
                                                 -- discharging status
                                                 , "-o"	, "<left>% (<timeleft>)"
                                                 -- AC "on" status
                                                 , "-O"	, "<left>% <fc=#dAA520>Charging</fc>"
                                                 -- charged status
                                                 , "-i"	, "<left>% <fc=#006000>Charged</fc>"
                                         ] 50
                     , Run StdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%StdinReader% | %cpu% | %memory% * %swap% }\
                    \{ %battery% | %date% | "
       }
